<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/user-pc/Documents/TestCodeCamp_Programme/Submissions/SeleniumWebdriverTests/SinglePage_task/Konga1"><classes><class name="Konga.KongaTests"><methods><include name="LoginTest"/><include name="AddToCartTest"/><include name="CheckOutTest"/></methods></class></classes></test></suite>